.blinker-title {
    height: 105px;
    width: 4px;
    transform: translateY(6px);
}

.blinker-large {
    height: 45px;
    width: 2px;
    transform: translateY(2px);
}

.blinker {
    background-color: #000000;
}

.animated {
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

.whitespace {
    white-space: pre;
}