.digital-oceans {
    filter: drop-shadow(0px 0px 60px rgb(19, 169, 255));
}

.react {
    animation: spin-animation 10s infinite linear;
    filter: drop-shadow(0px 0px 40px rgb(49, 255, 245));
}

.dream-host {
    filter: drop-shadow(0px 0px 40px rgb(105, 141, 227));
}

.android {
    filter: drop-shadow(0px 0px 40px rgb(126, 242, 31))
}

.ios {
    filter: drop-shadow(0px 0px 40px rgb(233, 233, 233))
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* text */

.pre-header {
    font-size: 20px;
    font-weight: 200;
}

.header {
    font-size: 40px;
    font-weight: 700;
}

.big-header {
    font-size: 60px;
    font-weight: 1000;
}

.text {
    font-size: 20px;
    font-weight: 500;
}

.close-text {
    margin-top: -40px;
}

.fat {
    font-family: 'Roboto Black', Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.skinny {
    font-size: 50px;
    font-weight: 200;
}

#donut-terminal {
    padding: 20px;
    border-radius: 20px;
    background-color: #1b2421;
    margin-left: 10vw;
    margin: 0px 10vw 0px;
    color: #b8edd9;
    font-size: 12px;
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: normal;
    white-space: pre;
}

#donut-terminal p {
    margin: 0px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}