.digital-oceans {
    filter: drop-shadow(0px 0px 60px rgb(19, 169, 255));
}

.react {
    animation: spin-animation 10s infinite linear;
    filter: drop-shadow(0px 0px 40px rgb(49, 255, 245));
}

.dream-host {
    filter: drop-shadow(0px 0px 40px rgb(105, 141, 227));
}

.android {
    filter: drop-shadow(0px 0px 40px rgb(126, 242, 31))
}

.ios {
    filter: drop-shadow(0px 0px 40px rgb(233, 233, 233))
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pre-header {
    font-size: 20px;
    font-weight: 200;
}

.header {
    font-size: 40px;
    font-weight: 700;
}

.big-header {
    font-size: 60px;
    font-weight: 1000;
}

.text {
    font-size: 20px;
    font-weight: 500;
}